.navbar
{
    background-color: rgb(0, 0, 94);
    margin-top: 10px;
    padding: 20px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
.contain
{
    width: 1040px;
}
.title
{
    color: aliceblue;
    font-size: 30px;
}
.title:hover
{
    color: aliceblue;
}

.wrapper{
    position: absolute;
    left:50%;
    transform: translate(-50%);
    width: 1000px;
    margin: 0 auto;
}
.wrapper .searchbox
{
    position: relative;
}
.input
{   
    margin: auto;
    width: 420px;
    border: 0;
    background-color: white;
    height: 50px;
    border-radius:50px;
    padding: 0px 35px;
    box-shadow: 0 0 10px 1px ;
    outline: none;
    font-weight: bold;
    margin: 5px;
}

#id-input, #game-input
{   
    width: 200px;
    text-align: center;
}

.photo-text
{
    font: bold;
    text-align: center;
}

#mainphoto
{
        margin-left: auto;
        margin-right: auto;
        display: block;
}

#platforme
{
    border: 1;
    height: 30px;
    border-radius:50px;
    padding: 0px 35px;
    box-shadow: 0 0 10px 1px;
    font-weight:bold

}
#inputContainer
{
    width: 1000px;
}
*
{
    border: solid 1px;
}

#btn
{
    width: 1000px;
    border-radius:50px;
    padding: 0px 35px;
    box-shadow:0 0 10px 1px;
    height: 30px;
    font-weight: bold;
    background-color: navy
}
#mic
{
    text-align: center;
}
.postname
{
    width: 900px;
    height: 500px;

}
#gameID
{
    width: 100px;
    float: left;
}
#gameType
{
    width: 150px;
    float: left;
}
#info
{
    width: 550px;
    float: left;
}